<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ComboBox Components</title>
    <link rel="stylesheet" href="./../../styles/main.css" />
  </head>
  <body>
    <h1>ComboBox</h1>
    <div class="combo-ui">
      <label class="lang-container">
        <figure>
          <img src="./../../assets/icon/global.svg" alt="" />
          <figcaption>언어</figcaption>
        </figure>
        <select class="lang_select" name="" id="">
          <option value="koreaㅁ">한국어</option>
          <option value="english">영어</option>
        </select>
        <figure>
          <img src="./../../assets/icon/triangle.svg" alt="" />
          <figcaption>언어 선택</figcaption>
        </figure>
      </label>
      <a href="">로그인</a>
    </div>
  </body>
</html>
